PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.uuhorvy.mongodb.net/?appName=Cluster0
JWT_SECRET=<your_jwt_secret>
GROQ_API_KEY=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
CLIENT_URL=http://localhost:3000
